<div class="card employee-card col-md-4 col-sm-12 col-lg-3 mr-2 mb-3 border border-dark p-0">
    <div class="card-header bg-white border border-dark">
        <h2 class="card-title text-center font-weight-bold custom-color-primary">{{ name }}</h2>
        <h3 class="card-title text-center custom-color-secondary"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body border border-dark">
        <ul class="list-group border border-dark">
            <li class="list-group-item custom-color-secondary"><i class="fas fa-id-card custom-color-primary"></i><span
                    class="font-weight-bold"> Id: </span> {{ id }}
            </li>
            <li class="list-group-item custom-color-secondary "><i class="fas fa-at custom-color-primary"></i><span
                    class="font-weight-bold"> Email: </span> <a href="mailto:{{ email }}"> {{ email }}</a></li>
            <li class="list-group-item custom-color-secondary"><i class="fab fa-github-square"></i><span
                    class="font-weight-bold"> Github: </span> <a href="https://github.com/{{ github }}" target="_blank"
                    rel="noopener noreferrer">{{ github }}</a>
            </li>
        </ul>
    </div>
</div>